.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-snippet {
  display: flex;
  flex-direction: column;
}

.code-snippet .copy-code {
  align-self: flex-end;
  cursor: pointer;
}