.drop-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed #ccc;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 100px;
  margin: 20px auto;
  cursor: pointer;
}

.drop-area.highlight {
  background-color: #f7f7f7;
}

.file-input-label {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
}
